@import '../../variables.scss';

.header_wrapper{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.first_header_part{
    background-color: $HighBackgroundColor;
}

.second_header_part{
    background: linear-gradient($LowerBackgroundColor1, $LowerBackgroundColor2);
    display: grid;
    grid-template-columns: 1fr 3fr;
    .logo_wrapper{
        img{
            float: right;
            max-height: 66px;
            max-width: 103px;
            padding: 10px;
        }
    }
}