@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$HighBackgroundColor: #333333;
$LowerBackgroundColor1: #00a9e7;
$LowerBackgroundColor2: #005B9F;
$ButtonColor: #0076C0;


$HeaderHeight: 12.09vh;
$FooterHeight: 14.2vh;

$RobotoFont: 'Roboto', sans-serif;
